body {
    font-family: 'Rokkitt', serif;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Crete Round', serif;
}

h1 {
    font-size: 22px;
}

h2, h3 {
    font-size: 18px;
}

section {
    padding: 10px 0px 10px 10px;
    min-width: 225px;
    flex: 0;
}

li {
    padding-left: 10px;
}

li:hover {
    background-color: black;
    color: white;
}

.nav-bar {
    padding: 20px 5px;
    background-color: black;
    color: white;
}

.content {
    display: flex;
}

.references {
    display: flex;
    flex-wrap: wrap;
    max-width: 65%;
}

.category {
    background-color: #00FE98;
    border: 2px solid black;
    width: 100%;
}

.category-header {
    background-color: rgba(0, 0, 0, 0.10);
    padding: 10px;
}

.category-body {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.example {
    position: sticky;
    top: 0;
    border: 2px solid black;    
    width: 40%;    
    padding: 10px;
}

.code-container {
    width: 80%;
    margin: 20px auto;
    border: 1px solid gray;
}

.code-header {
    background-color: rgb(122, 214, 254);
    padding: 10px;
}

.code-body {
    padding: 10px;
}
